<header class="header">
  <nav class="navbar">
    <span class="nav-item"><a href="#" class="nav-link">Leonardo Lima Coelho</a></span>
    <span class="nav-item"><a href="#" class="nav-link">Início</a></span>
    <span class="nav-item"><a href="#" class="nav-link">Sobre</a></span>
    <span class="nav-item"><a href="#" class="nav-link">Habilidades</a></span>
    <span class="nav-item"><a href="#" class="nav-link">Experiência</a></span>
    <span class="nav-item"><a href="#" class="nav-link">Projetos</a></span>
    <span class="nav-item"><a href="#" class="nav-link">Contato</a></span>
  </nav>
  <div class="hero">
    <div class="block-text">
      <p class="subtitle">Olá, seja bem-vindo, eu sou</p>
      <p class="title">Leonardo Lima Coelho Desenvolvedor <span class="highlight">FullStack</span></p>
      <p class="description">Sou um desenvolvedor fullstack, focado em React (no front-end) e Node.js
        (no back-end). Sempre buscando aprender e agregar valores aos meus projetos.</p>
      <button class="call-to-action">Baixar Currículo</button>
    </div>
    <div class="image">
      <img src="./Imagehero-min.webp" alt="Teste">
    </div>
  </div>
  <span class="mouse-animation">🖱️</span>
</header>

