.page-wrap {
  background: linear-gradient(152.56deg, #0a0a0a 0%, #292929 100%);
}
.header,
section.grid {
  min-height: 100vh;
}
section.grid,
.footer {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}
section#contact {
  min-height: calc(100vh - 5rem);
}
section.grid,
.hero {
  max-width: 65rem;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;

  width: 100%;
  background: #0a0a0a80;
  backdrop-filter: blur(16px);
  box-shadow: 0 2px 4px 2px #1d1d1d6a;

  position: sticky;
  top: 0;

  user-select: none;

  .wrap {
    display: flex;
    align-items: center;

    max-width: 75rem;
    width: 100%;
    margin-inline: auto;
  }
  .logo {
    margin-right: auto;
  }
  .menu--buttom {
    display: none;
  }
  .menu {
    display: flex;
  }
  .nav__link {
    display: block;
    padding: 1.25rem;
    padding-top: calc(1.25rem + 2px);
    padding-bottom: calc(1.25rem - 1px);

    font-size: 1rem;
    line-height: calc(1.25rem - 1px);
    font-weight: 600;

    transition: filter 0.2s ease-out;

    &:hover {
      filter: brightness(0.8);
    }
  }
}
.navbar .nav__item .nav__link--active {
  padding-bottom: 0;
}
.navbar .nav__link--active::after {
  content: "";
  display: block;
  margin-top: calc(1rem - 2px);
  margin-inline: auto;
  width: 2rem;
  height: 5px;

  background-color: #279af1;
  border-radius: 3px 3px 0 0;
}

.hero {
  width: 100%;
  padding-top: 7rem;
  margin-inline: auto;
}
@media (max-width: 912px) {
  // Limite para a navbar
  .page-wrap:has(.menu--active) {
    user-select: none;
  }
  .wrap:has(.menu--active) .menu {
    display: block;
    width: 100%;
    grid-area: menu;
  }
  .logo {
    width: 100%;
    grid-area: logo;

    .nav__link {
      width: max-content;
    }
  }
  .navbar {
    position: fixed;
    align-items: flex-start;

    &:has(.menu--active) {
      height: 100%;
    }

    .wrap {
      display: grid;
      grid-template-columns: 1fr 60px;
      grid-template-areas:
        "logo buttom"
        "menu menu";
      place-content: space-between;
    }
    .menu--none {
      display: none !important;
    }
    .nav__item:has(.nav__link--active) .nav__link {
      position: relative;
    }
    .nav__link--active {
      padding-right: 0;
      padding-bottom: calc(1.25rem - 1px) !important;
    }
    .nav__link--active::after {
      content: "";
      position: absolute;
      margin-top: -30px;
      margin-left: auto;
      right: 0;
      margin-inline: 0;
      width: 5px;
      height: 2.5rem;

      background-color: #279af1;
      border-radius: 3px 0 0 3px;
    }
  }
  .navbar .menu--buttom {
    display: flex;
    grid-area: buttom;
    justify-content: center;
    align-items: center;
    max-width: 3.75rem;
    max-height: 3.75rem;
    padding: 1.25rem;
    cursor: pointer;
  }
}
