<div class="page-wrap">
  <nav class="navbar">
    <div class="wrap">
      <span class="logo">
        <a href="/" (click)="handleCloseMenu($event)" class="nav__link"
          >Leonardo Lima Coelho</a
        >
      </span>
      <div class="menu--buttom" (click)="toggleMenu()">
        <fa-icon [icon]="faBars" size="lg"></fa-icon>
      </div>
      <div
        [ngClass]="{
          menu: true,
          'menu--none': !menuActive,
          'menu--active': menuActive
        }"
      >
        <span class="nav__item">
          <a
            href="/"
            (click)="handleCloseMenu($event)"
            [ngClass]="{
              nav__link: true,
              'nav__link--active': linkActive === ''
            }"
            >Início</a
          >
        </span>
        <span class="nav__item">
          <a
            href="/#about"
            (click)="handleCloseMenu($event)"
            [ngClass]="{
              nav__link: true,
              'nav__link--active': linkActive === '#about'
            }"
            >Sobre</a
          >
        </span>
        <span class="nav__item">
          <a
            href="#skills"
            (click)="handleCloseMenu($event)"
            [ngClass]="{
              nav__link: true,
              'nav__link--active': linkActive === '#skills'
            }"
            >Habilidades</a
          >
        </span>
        <span class="nav__item">
          <a
            href="#experiences"
            (click)="handleCloseMenu($event)"
            [ngClass]="{
              nav__link: true,
              'nav__link--active': linkActive === '#experiences'
            }"
            >Experiência</a
          >
        </span>
        <span class="nav__item">
          <a
            href="#projects"
            (click)="handleCloseMenu($event)"
            [ngClass]="{
              nav__link: true,
              'nav__link--active': linkActive === '#projects'
            }"
            >Projetos</a
          >
        </span>
        <span class="nav__item"
          ><a
            href="#contact"
            (click)="handleCloseMenu($event)"
            [ngClass]="{
              nav__link: true,
              'nav__link--active': linkActive === '#contact'
            }"
            >Contato</a
          ></span
        >
      </div>
    </div>
  </nav>
  <header class="header">
    <div class="hero flex flex--primary">
      <div class="block-text flex-item">
        <p class="subtitle">Olá, seja bem-vindo, eu sou</p>
        <p class="title">
          Leonardo Lima Coelho
          <span class="highlight">Desenvolvedor FullStack</span>
        </p>
        <p class="description">
          Sou um desenvolvedor fullstack, focado em React (no front-end) e
          Node.js (no back-end). Sempre buscando aprender e agregar valores aos
          meus projetos.
        </p>
        <button class="btn btn-primary">Baixar Currículo</button>
      </div>
      <div class="image flex__item">
        <img
          src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669344281/Imagehero-min_wth6mn.webp"
          alt="Development illustration"
          class="hero-illustration"
        />
      </div>
    </div>
    <div class="mouse-animation"></div>
  </header>
  <main class="main">
    <section id="about" class="section flex flex--secondary">
      <div class="flex__item">
        <img
          src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669344179/perfil_qwh70b.webp"
          alt="Retrato de Leonardo Lima Coelho"
          class="photo"
        />
      </div>
      <div class="flex__item about-me">
        <h2 class="section-title">Sobre</h2>
        <p class="paragraph">
          Sou desenvolvedor a alguns anos, venho trabalhando com tecnologias
          Front-end como React, Next.js e também Vue.js, desenvolvo aplicativos
          com React Native, e crio APIs REST com Node.js usando o framework
          Express. Também sou um forte adepto do TypeScript, fazendo uso desta
          tecnologia sempre que posso em meus projetos.
        </p>
        <p class="paragraph">
          Costumo utilizar majoritariamente o banco de dados SQL PostgreSQL, e
          ocasionalmente MongoDB como banco NoSQL.
        </p>
        <p class="paragraph">
          Também sou adepto de Headless CMS como Strapi, tendo feito alguns
          projetos de aprendizado com ele. Futuramente pretendo adotá-lo para
          projetos maiores.
        </p>
        <p class="paragraph">
          Atualmente estou estudando formas de implementar testes automatizados,
          e CI/CD para levar meus projetos ao próximo nível.
        </p>
        <p class="paragraph">
          Estou desenvolvendo um aplicativo para publicar na Google Play Store,
          e também escrevo posts sobre tecnologia no
          https://lima9.hashnode.dev/.
        </p>
      </div>
    </section>
    <section id="skills" class="section grid">
      <div class="flex__item skill-list">
        <h2 class="section-title">
          Tecnologias que fazem parte do meu dia a dia
        </h2>
        <div class="flex flex--icons">
          <img
            class="tech-image"
            width="100px"
            height="100px"
            alt="HTML5 Icon"
            src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669349852/techs%20icons/image_6-min_hnqvru.webp"
          />
          <img
            class="tech-image"
            width="100px"
            height="100px"
            alt="CSS3 Icon"
            src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669349852/techs%20icons/image_7-min_leakmn.webp"
          />
          <img
            class="tech-image"
            width="100px"
            height="100px"
            alt="TypeScript Icon"
            src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669349852/techs%20icons/image_3-min_fxcoym.webp"
          />
          <img
            class="tech-image"
            width="100px"
            height="100px"
            alt="JavaScript Icon"
            src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669349852/techs%20icons/image_2-min_v95qwg.webp"
          />
          <img
            class="tech-image"
            width="100px"
            height="100px"
            alt="Node.js Icon"
            src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669349852/techs%20icons/image_4-min_vlsmb7.webp"
          />
          <img
            class="tech-image"
            width="100px"
            height="100px"
            alt="React Icon"
            src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669349852/techs%20icons/image_5-min_r7rzd5.webp"
          />
          <img
            class="tech-image"
            width="100px"
            height="100px"
            alt="Figma Icon"
            src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669349852/techs%20icons/image_34-min_anr2of.webp"
          />
          <img
            class="tech-image"
            width="100px"
            height="100px"
            alt="Docker Icon"
            src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669349852/techs%20icons/image_8-min_elevef.webp"
          />
          <img
            class="tech-image"
            width="100px"
            height="100px"
            alt="Postgres Icon"
            src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669349852/techs%20icons/image_15-min_dny3uu.webp"
          />
          <img
            class="tech-image"
            width="100px"
            height="100px"
            alt="Git Icon"
            src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669349852/techs%20icons/image_1-min_f3mvan.webp"
          />
          <img
            class="tech-image"
            width="100px"
            height="100px"
            alt="Tux Linux Icon"
            src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669349852/techs%20icons/image_12-min_dohz7c.webp"
          />
          <img
            class="tech-image"
            width="100px"
            height="100px"
            alt="Sass Icon"
            src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669349852/techs%20icons/image_17-min_rhlkya.webp"
          />
        </div>
      </div>
      <div class="flex__item skill-list">
        <h2 class="section-title">
          Tecnologias que pretendo integrar ao meu arsenal
        </h2>
        <div class="flex flex--icons">
          <img
            class="tech-image"
            width="100px"
            height="100px"
            alt="Redux Icon"
            src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669349853/techs%20icons/image_16-min_fy0xvb.webp"
          />
          <img
            class="tech-image"
            width="100px"
            height="100px"
            alt="Jest Icon"
            src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669349853/techs%20icons/image_11-min_nxbhdb.webp"
          />
          <img
            class="tech-image"
            width="100px"
            height="100px"
            alt="Nest.js Icon"
            src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669349853/techs%20icons/image_13-min_sjszxh.webp"
          />
          <img
            class="tech-image"
            width="100px"
            height="100px"
            alt="Terraform Icon"
            src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669349853/techs%20icons/image_20-min_eoyetf.webp"
          />
          <img
            class="tech-image"
            width="100px"
            height="100px"
            alt="Vue.js Icon"
            src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669349853/techs%20icons/image_21-min_izakd4.webp"
          />
          <img
            class="tech-image"
            width="100px"
            height="100px"
            alt="GraphQL Icon"
            src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669349853/techs%20icons/image_10-min_qzjmiv.webp"
          />
          <img
            class="tech-image"
            width="100px"
            height="100px"
            alt="Angular Icon"
            src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669349853/techs%20icons/image_9-min_wpahuo.webp"
          />
          <img
            class="tech-image"
            width="100px"
            height="100px"
            alt="Tailwind Icon"
            src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669349853/techs%20icons/image_19-min_vi4hoy.webp"
          />
          <img
            class="tech-image"
            width="100px"
            height="100px"
            alt="Storybook Icon"
            src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669349852/techs%20icons/image_18-min_mpb6ph.webp"
          />
          <img
            class="tech-image"
            width="100px"
            height="100px"
            alt="Next.js Icon"
            src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669349852/techs%20icons/next-min_ecgvcg.webp"
          />
          <img
            class="tech-image"
            width="100px"
            height="100px"
            alt="Webpack Icon"
            src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669349853/techs%20icons/image_22-min_hntnyp.webp"
          />
        </div>
      </div>
    </section>
    <section id="experiences" class="section flex">
      <h2 class="section-title">Experiências</h2>
    </section>
    <section id="projects" class="section flex">
      <h2 class="section-title">Projetos</h2>
    </section>
    <section id="contact" class="section">
      <h2 class="section-title">Entre em contato comigo</h2>
      <div class="flex flex-secondary">
        <div class="flex__item">
          <img
            src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669417900/illustration-email-min_oexzsi.webp"
            alt="Email illustration"
            class="email-illustration"
          />
        </div>
        <div class="flex__item">
          <form class="form-contact" onSubmit="(e) => e.preventDefault()">
            <div class="form-floating">
              <input type="text" class="text-line" id="name" />
              <label for="name" class="label-input">Seu nome</label>
            </div>
            <div class="form-floating">
              <input type="text" class="text-line" id="email" />
              <label for="email" class="label-input">E-mail</label>
            </div>
            <div class="form-floating">
              <textarea class="text-line" id="message"></textarea>
              <label for="message" class="label-input"
                >Escreva aqui sua mensagem</label
              >
            </div>
            <button class="btn btn-primary" type="button">
              Me envie um E-mail
            </button>
          </form>
        </div>
      </div>
      <div class="social-media">
        <img
          src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669419878/whatsapp_cf6tbg.webp"
          alt="Whatsapp button"
          width="32px"
          height="32px"
        />
        <img
          src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669419878/linkedin_galrsr.webp"
          alt="Linkedin button"
          width="32px"
          height="32px"
        />
        <img
          src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669419878/github_iwxzlx.webp"
          alt="Github button"
          width="32px"
          height="32px"
        />
        <img
          src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669419878/mail_e8ylud.webp"
          alt="Email button"
          width="32px"
          height="auto"
        />
      </div>
    </section>
  </main>
  <footer class="footer">
    <span class="copyright">© Copyright 2022 por Leonardo Lima Coelho.</span>
    <span class="copyright">Todos os direitos reservados.</span>
  </footer>
</div>
