$translateY-social-media: translateY(calc(50vh - (32px + 12px) * 2));

.header {
}
.footer {
  max-width: 75rem;
  min-height: 5rem;
  margin-inline: auto;
}
section#contact {
  display: flex;
  flex-direction: column;
}
.hero,
.section {
  max-width: 69rem;
}
.section {
  min-height: 100vh;
  padding: 6rem 2rem 2rem;
  margin-inline: auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(32rem, 100%), 1fr));
  place-items: flex-start center;
  gap: 1rem;

  &.grid--primary {
    margin-top: 3rem;
    place-items: center flex-end;
  }
  &.grid--secondary {
    place-items: center flex-start;
  }
  &.grid--icons {
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 0.5rem;
    margin-top: 2rem;
  }
  &.grid--space-b {
    justify-content: space-between;
  }
}
h2.section-title {
  justify-self: normal;
}
img.hero-illustration {
  max-width: 470px;
  max-height: 388px;
  width: 100%;
  height: auto;
}
img.photo {
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  height: auto;
}
img.email-illustration {
  max-width: 462px;
  max-height: 376px;
  width: 100%;
  height: auto;
  padding: 1rem;
}
img.tech-image {
  width: 80px;
  height: auto;
}
a {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;

  width: 100%;
  backdrop-filter: blur(16px);
  background: #0a0a0a80;
  box-shadow: 0 2px 4px 2px #1d1d1d45;

  position: sticky;
  top: 0;

  user-select: none;
  transition: padding-top 0.4s ease-out;
  animation-delay: 0.2s;

  .wrap {
    display: flex;
    align-items: center;

    max-width: 75rem;
    width: 100%;
    margin-inline: auto;
  }
  .logo {
    margin-right: auto;
  }
  .menu--buttom {
    display: none;
  }
  .menu {
    display: flex;
  }
  .nav__link {
    display: block;
    padding: 1rem;
    padding-top: calc(1.25rem /*  + 2px */);
    padding-bottom: calc(1.25rem /*  - 1px */);

    font-size: 1rem;
    line-height: calc(1.25rem /*  - 1px */);
    font-weight: 600;

    transition: filter 0.2s ease-out;

    &:hover {
      filter: brightness(0.8);
    }
  }
}
.navbar .nav__item .nav__link--active {
  padding-bottom: 0;
}
.navbar .nav__link--active::after {
  content: "";
  display: block;
  margin-top: calc(1rem - 2px);
  margin-inline: auto;
  width: 2rem;
  height: 5px;

  background-color: #279af1;
  border-radius: 3px 3px 0 0;
}
.hero {
  width: 100%;
  height: 100%;
  padding: 2rem 2rem 0;
  margin-inline: auto;

  p.subtitle {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  p.title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 39px;
    margin-bottom: 1rem;
  }
  p.description {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
}
span.highlight {
  background-image: linear-gradient(90deg, #00a2e9, #7b61ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.btn {
  padding: 1rem 2rem;

  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #333;

  border-radius: 2rem;
  border: 0;

  cursor: pointer;

  &.btn-primary {
    background-image: linear-gradient(97deg, #00a2e9, #002176);
    color: #f5f5f5;
  }
}
.social-media {
  position: fixed;
  top: 0;
  left: 2rem;
  transform: $translateY-social-media;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 1200px) {
  .social-media {
    position: initial;
    transform: none;
    flex-direction: row;
    justify-content: center;
    margin-top: auto;
  }
}
@media (max-width: 912px) {
  // Limite para a navbar
  .grid--primary {
    margin-top: 1rem !important;
  }
  img.hero-illustration {
    display: none;
  }
  img.email-illustration {
    display: none;
  }
  .page-wrap:has(.menu--active) {
    user-select: none;
  }
  .wrap:has(.menu--active) .menu {
    display: block;
    width: 100%;
    grid-area: menu;
  }
  .logo {
    width: 100%;
    grid-area: logo;

    .nav__link {
      width: max-content;
    }
  }
  .navbar {
    position: fixed;
    align-items: flex-start;

    &:has(.menu--active) {
      height: 100%;
    }

    .wrap {
      display: grid;
      grid-template-columns: 1fr 60px;
      grid-template-areas:
        "logo buttom"
        "menu menu";
      place-content: space-between;
    }
    .menu--none {
      display: none !important;
    }
    .nav__item:has(.nav__link--active) .nav__link {
      position: relative;
    }
    .nav__link--active {
      padding-right: 0;
      padding-bottom: calc(1.25rem - 1px) !important;
    }
    .nav__link--active::after {
      content: "";
      position: absolute;
      margin-top: -30px;
      margin-left: auto;
      right: 0;
      margin-inline: 0;
      width: 5px;
      height: 2.5rem;

      background-color: #279af1;
      border-radius: 3px 0 0 3px;
    }
  }
  .navbar .menu--buttom {
    display: flex;
    grid-area: buttom;
    justify-content: center;
    align-items: center;
    max-width: 3.75rem;
    max-height: 3.75rem;
    padding: 1.25rem;
    cursor: pointer;
  }
  .hero {
    padding-top: 7rem;
  }
}
