<header class="header">
  <nav class="navbar">
    <span class="nav-item"><a href="#" class="nav-link">Leonardo Lima Coelho</a></span>
    <span class="nav-item"><a href="#" class="nav-link">Início</a></span>
    <span class="nav-item"><a href="#" class="nav-link">Sobre</a></span>
    <span class="nav-item"><a href="#" class="nav-link">Habilidades</a></span>
    <span class="nav-item"><a href="#" class="nav-link">Experiência</a></span>
    <span class="nav-item"><a href="#" class="nav-link">Projetos</a></span>
    <span class="nav-item"><a href="#" class="nav-link">Contato</a></span>
  </nav>
  <div class="hero">
    <div class="block-text">
      <p class="subtitle">Olá, seja bem-vindo, eu sou</p>
      <p class="title">Leonardo Lima Coelho Desenvolvedor <span class="highlight">FullStack</span></p>
      <p class="description">Sou um desenvolvedor fullstack, focado em React (no front-end) e Node.js
        (no back-end). Sempre buscando aprender e agregar valores aos meus projetos.</p>
      <button class="call-to-action">Baixar Currículo</button>
    </div>
    <div class="image">
      <img src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669344281/Imagehero-min_wth6mn.webp" alt="Teste">
    </div>
  </div>
  <span class="mouse-animation">🖱️</span>
</header>
<section id="sobre" class="grid">
  <div class="grid-item">
    <img src="https://res.cloudinary.com/dlz7aaj3q/image/upload/v1669344179/perfil_qwh70b.webp" width="400px" height="400px" alt="Retrato de Leonardo Lima Coelho">
  </div>
  <div class="grid-item">
    <h2>Sobre</h2>
    <p class="paragraph">
      Sou desenvolvedor a alguns anos, venho trabalhando com tecnologias Front-end como React, Next.js e também Vue.js, desenvolvo aplicativos com React Native, e crio APIs REST com Node.js usando o framework Express. Também sou um forte adepto do TypeScript, fazendo uso desta tecnologia sempre que posso em meus projetos.
    </p>
    <p class="paragraph">
      Costumo utilizar majoritariamente o banco de dados SQL PostgreSQL, e ocasionalmente MongoDB como banco NoSQL.
    </p>
    <p class="paragraph">
      Também sou adepto de Headless CMS como Strapi, tendo feito alguns projetos de aprendizado com ele. Futuramente pretendo adotá-lo para projetos maiores.
    </p>
    <p class="paragraph">
      Atualmente estou estudando formas de implementar testes automatizados, e CI/CD para levar meus projetos ao próximo nível.
    </p>
    <p class="paragraph">
      Estou desenvolvendo um aplicativo para publicar na Google Play Store, e também escrevo posts sobre tecnologia no https://lima9.hashnode.dev/.
    </p>
  </div>
</section>
