/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f2f4f3;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
}

$scrollbar-thumb: #a1a1a1;
$scrollbar-thumb-hover: #8a8a8a;
$scrollbar-thumb-active: #6a6a6a;
$scrollbar-track: #d4d4d4;
$scrollbar-track-hover: #c2c2c2;
$scrollbar-track-active: #b5b5b5;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb;
}
::-webkit-scrollbar-thumb:hover {
  background: $scrollbar-thumb-hover;
}
::-webkit-scrollbar-thumb:active {
  background: $scrollbar-thumb-active;
}
::-webkit-scrollbar-track {
  background: $scrollbar-track;
}
::-webkit-scrollbar-track:hover {
  background: $scrollbar-track-hover;
}
::-webkit-scrollbar-track:active {
  background: $scrollbar-track-active;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
