/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f2f4f3;
  font-family: "Montserrat", sans-serif;

  transition: scroll-behavior 0.4s ease;
}

html {
  scroll-behavior: smooth;
}
